<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div *ngIf="show;then loginForm;else loginGroup"></div>
    
  </div>
</nav>

<ng-template #loginGroup>
    <div class="row">
  <button class="btn btn-primary margin-right" label="Log In" (click)="enableForm()">Sign in</button>
  <button class="btn btn-primary margin-right" label="Register" routerLink="/register" >Sign up</button>
  </div>
</ng-template>

<ng-template #loginForm>
  <div *ngIf="!loggedin; else welcome">
    <app-login (showChange)="setShow($event)"></app-login>
  </div>

  <ng-template #welcome>
    <p class="small">
      <span id="welcomeUser">Welcome, {{currentUser.firstname}} {{currentUser.lastname}}</span><br>
      <u><a class="logoutLink" routerLink="/" (click)="logout()">Log out</a></u>
    </p>
  </ng-template>
</ng-template>
