/* simple-notifications {
    position: absolute;
    float: right;
    text-align: center;
} */

:host ::ng-deep simple-notifications .sn-content {
    font-size: 12px;
    width: 100%;
    height: 100%;
    text-align: left;
}

:host ::ng-deep simple-notifications .sn-title {
    font-size: 12px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-weight: 600;
}